<?xml version="1.0"?>
<model>
  <name>coaxial_top_tilt</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>PX4 Dev Team</name>
    <email>dev@px4.io</email>
  </author>
  <description>
    Cylinder-body coaxial UAV inspired by the Poongsan drone form factor.
    Lower rotor (CW, motor 0) is fixed to the body.
    Upper rotor (CCW, motor 1) mounts on a 2-DOF pitch/roll gimbal for thrust vectoring.
    Yaw is controlled by differential thrust between the two counter-rotating rotors.
  </description>
</model>
